<ng-container *ngIf="videoUrl !== ''">
  <video controls (click)="toggleVideo()" #videoPlayer poster="{{posterUrl}}"  
  (loadedmetadata)="onMetadata($event, videoPlayer)" (ended)="vidEnded()" (timeupdate)="videoTimeUpdate($event, videoPlayer)">

      <source [src]="videoUrl" type="video/mp4" />
      Browser not supported
  </video>
  <div class="duration">
    <span> {{ videoCurrentTime }} </span> /
    <span> {{ videoDuration }} </span>
  </div>
  <button class="play" (click)="toggleVideo()"> {{ playPauseBtn ? 'Play' : 'Pause' }} </button>  <br> <br>
  <mat-slider min="0" max="1" step="0.1" (input)="onSoundChange($event)" [(value)]="volumnSlide" ></mat-slider>  <br> <br>
  <mat-slider step="{{videoSteps}}"  min="{{videoDurationMin}}" max="{{videoDuration}}"
  (input)="videoLenghtChanged($event)"  [(value)]="videoCurrentTime" thumbLabel (change)="setVideoTime($event, videoCurrentTime)" ></mat-slider>
  
</ng-container>
